* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 96px;
    min-height: 96px;
    background-color: #1F2937;
}

.header__logo {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
}

.header__list {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    gap: 16px;
}

.header__link {
    text-decoration: none;
    color: #E5E7EB;
}

main {
    flex: 1;
}

.main1__container {
    display: flex;
    justify-content: center;

    padding: 72px 96px;
    background-color: #1F2937;
    gap: 48px;
}

.main1__title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.main1__text {
    margin: 8px 0;

    color: #E5E7EB;
    font-size: 18px;
}

.main1__button {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #EFE7EB;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

#main1__img {
    width: 700px;
    height: 350px;
}

.main2__container {
    padding-bottom: 96px;
}

.main2__title {
    padding: 40px 0;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.main2_info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.main2_info {
    width: 180px;
}

.main2_info-img {
    width: 180px;
    height: 180px;

    border: 4px solid #3882F6;
    border-radius: 10px;
}

.main2_info-text {
    text-align: center;
}

.main3__container {
    padding: 96px 221px;
    background-color: #E5E7EB;
}

.main3__text {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

#main3__author {
    font-weight: bolder;
    font-size: 24px;
    text-align: end;
}

.main4__container {
    display: flex;
    justify-content: space-around;

    margin: 96px;
    padding: 40px 48px;

    background-color: #3882F6;
    color: #EFE7EB;

    border-radius: 8px;
}

.main4__text-alert {
    font-size: 24px;
    font-weight: bold;
}

.main4__button {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #EFE7EB;
    border: 2px solid #EFE7EB;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 96px;
    background-color: #1F2937;
    color: #F9FAF8;
}